DB_HOST=db
DB_PORT=3306
DB_NAME=nwproject_db
DB_USER=nwproject_app
DB_PASSWORD=CHANGE_ME_TO_A_LONG_RANDOM_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_TO_ANOTHER_LONG_RANDOM_PASSWORD
SESSION_TIMEOUT_MINUTES=30
LOGIN_MAX_FAILURES=5
LOGIN_LOCK_MINUTES=15
